@font-face {
  font-family: Dm-Sans;
  src: url("./fonts/DM_Sans/DMSans-Regular.ttf");
}
@font-face {
  font-family: MerriWeatherBold;
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: MerriWeather;
  src: url("./fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 700;
}
body {
  font-family: "DM-Sans";
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
p {
  color: #515151;
  font-size: 12px;
}
h5 {
  font-family: "MerriWeatherBold";
  font-size: 24px;
}
h2,
h1 {
  font-family: "MerriWeatherBold";
  font-weight: 700;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
.max-1250 {
  max-width: 1250px;
  margin: auto;
  padding: 20px;
}
.mt-0 {
  margin-top: 0;
}
.color-orange {
  color: #f3692e;
}
.font-MerriWeather {
  font-family: "MerriWeather";
}
.font-MerriWeatherBold {
  font-family: "MerriWeatherBold";
}
.color-grey {
  color: #515151;
}
.color-dark {
  color: #11142d;
}
.text-color {
  color: #666666;
}
hr {
  background-color: #e1e1e1;
  margin-top: 40px;
  margin-bottom: 40px;
}
